<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>odd</key>
	<array>
		<string>adroitness</string>
		<string>adviser</string>
		<string>aftermath</string>
		<string>aggregate</string>
		<string>alkali</string>
		<string>almighty</string>
		<string>amulet</string>
		<string>amusement</string>
		<string>antenna</string>
		<string>applicant</string>
		<string>Apollo</string>
		<string>armistice</string>
		<string>article</string>
		<string>asteroid</string>
		<string>Atlantic</string>
		<string>atmosphere</string>
		<string>autopsy</string>
		<string>Babylon</string>
		<string>backwater</string>
		<string>barbecue</string>
		<string>belowground</string>
		<string>bifocals</string>
		<string>bodyguard</string>
		<string>bookseller</string>
		<string>borderline</string>
		<string>bottomless</string>
		<string>Bradbury</string>
		<string>bravado</string>
		<string>Brazilian</string>
		<string>breakaway</string>
		<string>Burlington</string>
		<string>businessman</string>
		<string>butterfat</string>
		<string>Camelot</string>
		<string>candidate</string>
		<string>cannonball</string>
		<string>Capricorn</string>
		<string>caravan</string>
		<string>caretaker</string>
		<string>celebrate</string>
		<string>cellulose</string>
		<string>certify</string>
		<string>chambermaid</string>
		<string>Cherokee</string>
		<string>Chicago</string>
		<string>clergyman</string>
		<string>coherence</string>
		<string>combustion</string>
		<string>commando</string>
		<string>company</string>
		<string>component</string>
		<string>concurrent</string>
		<string>confidence</string>
		<string>conformist</string>
		<string>congregate</string>
		<string>consensus</string>
		<string>consulting</string>
		<string>corporate</string>
		<string>corrosion</string>
		<string>councilman</string>
		<string>crossover</string>
		<string>crucifix</string>
		<string>cumbersome</string>
		<string>customer</string>
		<string>Dakota</string>
		<string>decadence</string>
		<string>December</string>
		<string>decimal</string>
		<string>designing</string>
		<string>detector</string>
		<string>detergent</string>
		<string>determine</string>
		<string>dictator</string>
		<string>dinosaur</string>
		<string>direction</string>
		<string>disable</string>
		<string>disbelief</string>
		<string>disruptive</string>
		<string>distortion</string>
		<string>document</string>
		<string>embezzle</string>
		<string>enchanting</string>
		<string>enrollment</string>
		<string>enterprise</string>
		<string>equation</string>
		<string>equipment</string>
		<string>escapade</string>
		<string>Eskimo</string>
		<string>everyday</string>
		<string>examine</string>
		<string>existence</string>
		<string>exodus</string>
		<string>fascinate</string>
		<string>filament</string>
		<string>finicky</string>
		<string>forever</string>
		<string>fortitude</string>
		<string>frequency</string>
		<string>gadgetry</string>
		<string>Galveston</string>
		<string>getaway</string>
		<string>glossary</string>
		<string>gossamer</string>
		<string>graduate</string>
		<string>gravity</string>
		<string>guitarist</string>
		<string>hamburger</string>
		<string>Hamilton</string>
		<string>handiwork</string>
		<string>hazardous</string>
		<string>headwaters</string>
		<string>hemisphere</string>
		<string>hesitate</string>
		<string>hideaway</string>
		<string>holiness</string>
		<string>hurricane</string>
		<string>hydraulic</string>
		<string>impartial</string>
		<string>impetus</string>
		<string>inception</string>
		<string>indigo</string>
		<string>inertia</string>
		<string>infancy</string>
		<string>inferno</string>
		<string>informant</string>
		<string>insincere</string>
		<string>insurgent</string>
		<string>integrate</string>
		<string>intention</string>
		<string>inventive</string>
		<string>Istanbul</string>
		<string>Jamaica</string>
		<string>Jupiter</string>
		<string>leprosy</string>
		<string>letterhead</string>
		<string>liberty</string>
		<string>maritime</string>
		<string>matchmaker</string>
		<string>maverick</string>
		<string>Medusa</string>
		<string>megaton</string>
		<string>microscope</string>
		<string>microwave</string>
		<string>midsummer</string>
		<string>millionaire</string>
		<string>miracle</string>
		<string>misnomer</string>
		<string>molasses</string>
		<string>molecule</string>
		<string>Montana</string>
		<string>monument</string>
		<string>mosquito</string>
		<string>narrative</string>
		<string>nebula</string>
		<string>newsletter</string>
		<string>Norwegian</string>
		<string>October</string>
		<string>Ohio</string>
		<string>onlooker</string>
		<string>opulent</string>
		<string>Orlando</string>
		<string>outfielder</string>
		<string>Pacific</string>
		<string>pandemic</string>
		<string>Pandora</string>
		<string>paperweight</string>
		<string>paragon</string>
		<string>paragraph</string>
		<string>paramount</string>
		<string>passenger</string>
		<string>pedigree</string>
		<string>Pegasus</string>
		<string>penetrate</string>
		<string>perceptive</string>
		<string>performance</string>
		<string>pharmacy</string>
		<string>phonetic</string>
		<string>photograph</string>
		<string>pioneer</string>
		<string>pocketful</string>
		<string>politeness</string>
		<string>positive</string>
		<string>potato</string>
		<string>processor</string>
		<string>provincial</string>
		<string>proximate</string>
		<string>puberty</string>
		<string>publisher</string>
		<string>pyramid</string>
		<string>quantity</string>
		<string>racketeer</string>
		<string>rebellion</string>
		<string>recipe</string>
		<string>recover</string>
		<string>repellent</string>
		<string>replica</string>
		<string>reproduce</string>
		<string>resistor</string>
		<string>responsive</string>
		<string>retraction</string>
		<string>retrieval</string>
		<string>retrospect</string>
		<string>revenue</string>
		<string>revival</string>
		<string>revolver</string>
		<string>sandalwood</string>
		<string>sardonic</string>
		<string>Saturday</string>
		<string>savagery</string>
		<string>scavenger</string>
		<string>sensation</string>
		<string>sociable</string>
		<string>souvenir</string>
		<string>specialist</string>
		<string>speculate</string>
		<string>stethoscope</string>
		<string>stupendous</string>
		<string>supportive</string>
		<string>surrender</string>
		<string>suspicious</string>
		<string>sympathy</string>
		<string>tambourine</string>
		<string>telephone</string>
		<string>therapist</string>
		<string>tobacco</string>
		<string>tolerance</string>
		<string>tomorrow</string>
		<string>torpedo</string>
		<string>tradition</string>
		<string>travesty</string>
		<string>trombonist</string>
		<string>truncated</string>
		<string>typewriter</string>
		<string>ultimate</string>
		<string>undaunted</string>
		<string>underfoot</string>
		<string>unicorn</string>
		<string>unify</string>
		<string>universe</string>
		<string>unravel</string>
		<string>upcoming</string>
		<string>vacancy</string>
		<string>vagabond</string>
		<string>vertigo</string>
		<string>Virginia</string>
		<string>visitor</string>
		<string>vocalist</string>
		<string>voyager</string>
		<string>warranty</string>
		<string>Waterloo</string>
		<string>whimsical</string>
		<string>Wichita</string>
		<string>Wilmington</string>
		<string>Wyoming</string>
		<string>yesteryear</string>
		<string>Yucatan</string>
	</array>
	<key>even</key>
	<array>
		<string>aardvark</string>
		<string>absurd</string>
		<string>accrue</string>
		<string>acme</string>
		<string>adrift</string>
		<string>adult</string>
		<string>afflict</string>
		<string>ahead</string>
		<string>aimless</string>
		<string>Algol</string>
		<string>allow</string>
		<string>alone</string>
		<string>ammo</string>
		<string>ancient</string>
		<string>apple</string>
		<string>artist</string>
		<string>assume</string>
		<string>Athens</string>
		<string>atlas</string>
		<string>Aztec</string>
		<string>baboon</string>
		<string>backfield</string>
		<string>backward</string>
		<string>banjo</string>
		<string>beaming</string>
		<string>bedlamp</string>
		<string>beehive</string>
		<string>beeswax</string>
		<string>befriend</string>
		<string>Belfast</string>
		<string>berserk</string>
		<string>billiard</string>
		<string>bison</string>
		<string>blackjack</string>
		<string>blockade</string>
		<string>blowtorch</string>
		<string>bluebird</string>
		<string>bombast</string>
		<string>bookshelf</string>
		<string>brackish</string>
		<string>breadline</string>
		<string>breakup</string>
		<string>brickyard</string>
		<string>briefcase</string>
		<string>Burbank</string>
		<string>button</string>
		<string>buzzard</string>
		<string>cement</string>
		<string>chairlift</string>
		<string>chatter</string>
		<string>checkup</string>
		<string>chisel</string>
		<string>choking</string>
		<string>chopper</string>
		<string>Christmas</string>
		<string>clamshell</string>
		<string>classic</string>
		<string>classroom</string>
		<string>cleanup</string>
		<string>clockwork</string>
		<string>cobra</string>
		<string>commence</string>
		<string>concert</string>
		<string>cowbell</string>
		<string>crackdown</string>
		<string>cranky</string>
		<string>crowfoot</string>
		<string>crucial</string>
		<string>crumpled</string>
		<string>crusade</string>
		<string>cubic</string>
		<string>dashboard</string>
		<string>deadbolt</string>
		<string>deckhand</string>
		<string>dogsled</string>
		<string>dragnet</string>
		<string>drainage</string>
		<string>dreadful</string>
		<string>drifter</string>
		<string>dropper</string>
		<string>drumbeat</string>
		<string>drunken</string>
		<string>Dupont</string>
		<string>dwelling</string>
		<string>eating</string>
		<string>edict</string>
		<string>egghead</string>
		<string>eightball</string>
		<string>endorse</string>
		<string>endow</string>
		<string>enlist</string>
		<string>erase</string>
		<string>escape</string>
		<string>exceed</string>
		<string>eyeglass</string>
		<string>eyetooth</string>
		<string>facial</string>
		<string>fallout</string>
		<string>flagpole</string>
		<string>flatfoot</string>
		<string>flytrap</string>
		<string>fracture</string>
		<string>framework</string>
		<string>freedom</string>
		<string>frighten</string>
		<string>gazelle</string>
		<string>Geiger</string>
		<string>glitter</string>
		<string>glucose</string>
		<string>goggles</string>
		<string>goldfish</string>
		<string>gremlin</string>
		<string>guidance</string>
		<string>hamlet</string>
		<string>highchair</string>
		<string>hockey</string>
		<string>indoors</string>
		<string>indulge</string>
		<string>inverse</string>
		<string>involve</string>
		<string>island</string>
		<string>jawbone</string>
		<string>keyboard</string>
		<string>kickoff</string>
		<string>kiwi</string>
		<string>klaxon</string>
		<string>locale</string>
		<string>lockup</string>
		<string>merit</string>
		<string>minnow</string>
		<string>miser</string>
		<string>Mohawk</string>
		<string>mural</string>
		<string>music</string>
		<string>necklace</string>
		<string>Neptune</string>
		<string>newborn</string>
		<string>nightbird</string>
		<string>Oakland</string>
		<string>obtuse</string>
		<string>offload</string>
		<string>optic</string>
		<string>orca</string>
		<string>payday</string>
		<string>peachy</string>
		<string>pheasant</string>
		<string>physique</string>
		<string>playhouse</string>
		<string>Pluto</string>
		<string>preclude</string>
		<string>prefer</string>
		<string>preshrunk</string>
		<string>printer</string>
		<string>prowler</string>
		<string>pupil</string>
		<string>puppy</string>
		<string>python</string>
		<string>quadrant</string>
		<string>quiver</string>
		<string>quota</string>
		<string>ragtime</string>
		<string>ratchet</string>
		<string>rebirth</string>
		<string>reform</string>
		<string>regain</string>
		<string>reindeer</string>
		<string>rematch</string>
		<string>repay</string>
		<string>retouch</string>
		<string>revenge</string>
		<string>reward</string>
		<string>rhythm</string>
		<string>ribcage</string>
		<string>ringbolt</string>
		<string>robust</string>
		<string>rocker</string>
		<string>ruffled</string>
		<string>sailboat</string>
		<string>sawdust</string>
		<string>scallion</string>
		<string>scenic</string>
		<string>scorecard</string>
		<string>Scotland</string>
		<string>seabird</string>
		<string>select</string>
		<string>sentence</string>
		<string>shadow</string>
		<string>shamrock</string>
		<string>showgirl</string>
		<string>skullcap</string>
		<string>skydive</string>
		<string>slingshot</string>
		<string>slowdown</string>
		<string>snapline</string>
		<string>snapshot</string>
		<string>snowcap</string>
		<string>snowslide</string>
		<string>solo</string>
		<string>southward</string>
		<string>soybean</string>
		<string>spaniel</string>
		<string>spearhead</string>
		<string>spellbind</string>
		<string>spheroid</string>
		<string>spigot</string>
		<string>spindle</string>
		<string>spyglass</string>
		<string>stagehand</string>
		<string>stagnate</string>
		<string>stairway</string>
		<string>standard</string>
		<string>stapler</string>
		<string>steamship</string>
		<string>sterling</string>
		<string>stockman</string>
		<string>stopwatch</string>
		<string>stormy</string>
		<string>sugar</string>
		<string>surmount</string>
		<string>suspense</string>
		<string>sweatband</string>
		<string>swelter</string>
		<string>tactics</string>
		<string>talon</string>
		<string>tapeworm</string>
		<string>tempest</string>
		<string>tiger</string>
		<string>tissue</string>
		<string>tonic</string>
		<string>topmost</string>
		<string>tracker</string>
		<string>transit</string>
		<string>trauma</string>
		<string>treadmill</string>
		<string>Trojan</string>
		<string>trouble</string>
		<string>tumor</string>
		<string>tunnel</string>
		<string>tycoon</string>
		<string>uncut</string>
		<string>unearth</string>
		<string>unwind</string>
		<string>uproot</string>
		<string>upset</string>
		<string>upshot</string>
		<string>vapor</string>
		<string>village</string>
		<string>virus</string>
		<string>Vulcan</string>
		<string>waffle</string>
		<string>wallet</string>
		<string>watchword</string>
		<string>wayside</string>
		<string>willow</string>
		<string>woodlark</string>
		<string>Zulu</string>
	</array>
</dict>
</plist>
